
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Invoices</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Invoices</li>
    </ol>
    </div>
    </div>
    </div>
</section>
<section class="content">
<mat-card class="container-fluid alternate-theme">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="search-box">
        <mat-form-field color="primary">
          <input matInput placeholder="Search by Account Number:" name="search" ngModel #search="ngModel">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSearch(search)">
            Search
          <mat-icon color="accent" matSuffix style="font-size: 1.2em">search</mat-icon>
        </button>
      </div>
      <div class="action-button" fxLayoutGap="25px">
        <button mat-raised-button color="primary" routerLink="/admin/bills/create-bill-detail">
          <!-- <fa-icon icon="download"></fa-icon>&nbsp;&nbsp;Import Client -->
          <mat-icon>download</mat-icon>&nbsp;&nbsp;Add Invoice Items
        </button>
        <button routerLink="/admin/bills/create-bill" mat-raised-button color="primary" (click)="onClick()">
          <!-- <fa-icon icon="plus"></fa-icon>&nbsp;&nbsp;Create Client -->
          <mat-icon>person_add</mat-icon>&nbsp;&nbsp;Create Invoice
        </button>
      </div>
    </div>
    <div>
      <table mat-table  class=" table-bordered table-striped" [dataSource]="dataSource" matSort>

        <!-- "Invoice#","Date","DueDate","Customer","CreatedBy","Amount","InvoiceBalance" -->
        <ng-container matColumnDef="Invoice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3> Invoice# </h3></th>
          <td mat-cell *matCellDef="let row"> {{row.invoCode}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><h3> Date </h3></th>
          <td mat-cell *matCellDef="let row"> {{row.invoCreatedDate}} </td>
        </ng-container>
  
        <!-- Account no Column -->
        <ng-container matColumnDef="DueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>DueDate</h3> </th>
          <td mat-cell *matCellDef="let row"> {{row.invoDueDate}} </td>
        </ng-container>
  
        <!-- External ID Column -->
        <ng-container matColumnDef="Customer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Customer</h3> </th>
          <td mat-cell *matCellDef="let row"> {{row.custName}} </td>
        </ng-container>


        <ng-container matColumnDef="CreatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>CreatedBy</h3> </th>
          <td mat-cell *matCellDef="let row"> {{row.invoCreatedByName}} </td>
        </ng-container>

        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Amount</h3> </th>
          <td mat-cell *matCellDef="let row"> {{row.invoAmount}} </td>
        </ng-container>

        <ng-container matColumnDef="InvoiceBalance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>InvoiceBalance</h3> </th>
          <td mat-cell *matCellDef="let row"> {{row.invoBalance}} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Actions</h3> </th>
          <td mat-cell *matCellDef="let row"> <mat-icon (click)="delete(row)">delete</mat-icon><mat-icon (click)="view(row)">visibility</mat-icon><mat-icon (click)="print(row)">print</mat-icon></td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row">
        </tr>
      </table>
  
      <mat-paginator  [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 80, 100]"
        showFirstLastButtons></mat-paginator>
    </div>
  
</mat-card>
</section>