


<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Send Bill</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item" ><a routerLink="/admin/">Home</a></li>
    <li class="breadcrumb-item active" ><a routerLink="/admin/smss">Smss</a></li>
    <li class="breadcrumb-item active">Send Bill</li>
    </ol>
    </div>
    </div>
    </div>
</section>
<div class="content alternate-theme" style="background-color: white; color: black; padding: 40px;">
<div class="">
<form (ngSubmit)="onSubmit(form)" #form="ngForm">    
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="name">Period</label>
            <select  class="form-control" ngModel name="period" #period="ngModel" required>
                <option *ngFor="let period of periods" [value]="period">{{period}}</option>
            </select> 
            <div  class="help-block" *ngIf="period.touched && !period.valid"><p>Please enter period</p></div>
        </div>        
    </div>
    <div class="col-md-6">
        <label class="control-label" for="customertype" >Channel</label>
        <select  class="form-control" ngModel name="channel" #channel="ngModel" required>
            <option *ngFor="let channel of channels" [value]="channel">{{channel}}</option>
        </select> 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Due date</mat-label>
                <input matInput [matDatepicker]="picker1" ngModel name="duedate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>                    
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Due Date Arrears</mat-label>
                <input matInput [matDatepicker]="picker2" ngModel name="datearrears">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>                    
    </div>
    <div class="col-md-4">
        <label class="control-label" for="customertype" >Send Bill Per</label>
        <select  class="form-control" ngModel name="sendtype" #sendtype="ngModel" (change)="onTask(sendtype)" required>
            <option *ngFor="let sendtype of sendtypes" [value]="sendtype">{{sendtype}}</option>
        </select> 
    </div>
</div>    
<div class="row">
    
    <div *ngIf="selectscheme || selectzone || selectroute" class="col-md-4">
        <div class="form-group">
            <label class="control-label" for="Scheme">Scheme</label>
            <select  class="form-control show-tick" ngModel name="scheme"  (change)="onScheme(scheme)"  #scheme="ngModel" required>
                <option *ngFor="let scheme of schemes" [value]="scheme.scId">{{scheme.scName}}</option>
            </select>
            <div class="help-block"></div>
        </div>        
    </div>
    <div *ngIf="selectzone || selectroute" class="col-md-4">
        <div class="form-group">
            <label class="control-label">zone</label>
            <select  class="form-control show-tick" ngModel name="zone" [disabled]="!zonedisable" (change)="onZone(zone)" #zone="ngModel" required>
                <option *ngFor="let zone of zones" [value]="zone.znId">{{zone.znName}}</option>
            </select>
            <div class="help-block"></div>
        </div>                    
    </div>
    <div *ngIf="selectroute" class="col-md-4">
        <div class="form-group" >

            <label class="control-label" for="route">Choose Route</label>
            <select class="form-control show-tick selectpicker" multiple ngModel name="route"  (change)="onRoute(route.viewModel)"  #route="ngModel" [disabled]="!routedisable" required>
                <option  style="color: black;" *ngFor="let route of routes" [value]="route.rtId">{{route.rtName}}</option>
            </select>

            <label class="control-label" for="scheme">Route Selected: {{routesSelected}}</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="Scheme">Message</label>
            <div class="form-line">
                <textarea rows="4" class="form-control no-resize" placeholder="type Message" ngModel name="message"></textarea>
            </div>
            <div class="help-block"></div>
        </div>        
    </div>
</div>



<div class="form-group">
    <button type="submit" class="btn btn-success" disabled>Send</button>
</div>
    
</form>

</div>

<div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="message" class="help-block">{{message}}</div>
</div>