.container {
    margin-top: 30px;
}
.action-button {
    margin-left: auto;
}

.search-button {
    min-width: 30px;
    margin: 4px;
    margin-left: 10px;
    border: 2px solid red;
    text-decoration: darkblue;
}
table {
    width: 100%;
}
tr.select-row:hover {
    cursor: pointer;
  }
tr:nth-child(odd).td{
    color : black;
}
.mat-form-field-placeholder{
    color: black;
}
.mat-card {
    background-color: #ffffff;
}
.modal-backdrop {
    background-color: #008000;
    opacity: 1.0 !important;
}
input {
    color: black;
}



/* mat table */

.example-container {
    height: 400px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 800px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  label {
    color: black;
  }