<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Add Invoice Items</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a routerLink="/admin/index">Home</a></li>
    <li class="breadcrumb-item active"><a routerLink="/admin/tasks" >bills</a></li>
    <li class="breadcrumb-item active">Bill Details</li>
    </ol>
    </div>
    </div>
    </div>
</section>
<div class="alternate-theme">
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="form1.control">

        <div>

            
            <div class="search-box">
                <mat-form-field color="primary">
                  <input matInput placeholder="Search by Customer Name:" name="search" ngModel #search="ngModel">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onSearch(search)">
                    Search
                  <mat-icon color="accent" matSuffix style="font-size: 1.2em">search</mat-icon>
                </button>
            </div>
            
            <div>
              <table mat-table  class=" table-bordered table-striped" [dataSource]="dataSource" matSort>
        
                <!-- "Invoice#","Date","DueDate","Customer","CreatedBy","Amount","InvoiceBalance" -->
                <ng-container matColumnDef="Invoice">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><h3> Invoice# </h3></th>
                  <td mat-cell *matCellDef="let row"> {{row.invoCode}} </td>
                </ng-container>
          
                <!-- Name Column -->
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><h3> Date </h3></th>
                  <td mat-cell *matCellDef="let row"> {{row.invoCreatedDate}} </td>
                </ng-container>
          
                <!-- Account no Column -->
                <ng-container matColumnDef="DueDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>DueDate</h3> </th>
                  <td mat-cell *matCellDef="let row"> {{row.invoDueDate}} </td>
                </ng-container>
          
                <!-- External ID Column -->
                <ng-container matColumnDef="Customer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Customer</h3> </th>
                  <td mat-cell *matCellDef="let row"> {{row.invoCustName}} </td>
                </ng-container>
        
        
                <ng-container matColumnDef="CreatedBy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>CreatedBy</h3> </th>
                  <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
                </ng-container>
        
                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Amount</h3> </th>
                  <td mat-cell *matCellDef="let row"> {{row.invoAmount}} </td>
                </ng-container>
        
                <ng-container matColumnDef="InvoiceBalance">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>InvoiceBalance</h3> </th>
                  <td mat-cell *matCellDef="let row"> {{row.invoBalance}} </td>
                </ng-container>
        
                <!-- <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Actions</h3> </th>
                  <td mat-cell *matCellDef="let row"> <mat-icon (click)="delete(row)">delete</mat-icon><mat-icon (click)="view(row)">visibility</mat-icon> </td>
                </ng-container> -->
          
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="logData(row)" class="select-row">
                </tr>
              </table>
          
              <mat-paginator  [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 80, 100]"
                showFirstLastButtons></mat-paginator>
            </div>

            </div>

          
        <form #form1="ngForm">
            <ng-template matStepLabel>Choose Invoice to Add details to:</ng-template>

            <label *ngIf="firstLast" for="fisrtLast">Invoice Number:<span>{{firstLast}}</span></label>
            <!-- <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field> -->
            <div>
            <button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="form2.control" label="View & Add Invoice Items">

        <br>
        <br>
        <br>
      <div class="row form-group">
      <div class="col-lg-6">
        <h2>Add Item details </h2>
      <form (ngSubmit)="onSubmit(form2)" #form2="ngForm">
                <div class="row form-group">
                    <label class="control-label" for="scheme">Qty/Units</label>
                    <input type="text" class="form-control" ngModel name="units" #units="ngModel">
                    <div class="help-block" *ngIf="units.touched && !units.valid"><p>please enter Units</p></div>
                </div>
                <div class="row form-group">
                  <label class="control-label" for="scheme">Bill Type</label>
                  <select  class="form-control show-tick" ngModel name="billtype"  #billtype="ngModel">
                    <option value="" disabled selected hidden>Select billtype</option>
                    <option *ngFor="let billtype of billtypes" [value]="billtype.billId">{{billtype.billName}}</option>
                </select>
                <div class="help-block" *ngIf="billtype.touched && !billtype.valid"><p>please choose billtype</p></div>       
                </div>   
                <div class="row form-group">
                      <label class="control-label" for="scheme">Description</label>
                      <input type="text" class="form-control" ngModel name="description" #description="ngModel">
                      <div class="help-block" *ngIf="description.touched && !description.valid"><p>please enter description</p></div>       
                </div>        
                <div class="row form-group">
                        <label class="control-label" for="scheme">Unit Price</label>
                        <input type="text" class="form-control" ngModel name="price" #price="ngModel">
                        <div class="help-block" *ngIf="price.touched && !price.valid"><p>please enter price</p></div>
                </div> 
                
                <button mat-raised-button type="submit" color="primary" [disabled]="!form2.valid">Add</button>

                <div *ngIf="message" class="help-block">{{message}}</div>
        </form>
                <!-- end of form -->
        </div>     

        <div class="col-lg-6">
            <h2>Check Items Table to Approve </h2>
            <table mat-table  class=" table-bordered table-striped" [dataSource]="dtSource" matSort>
      
              <!-- "Invoice#","Date","DueDate","Customer","CreatedBy","Amount","InvoiceBalance" -->
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h3> Description </h3></th>
                <td mat-cell *matCellDef="let row"> {{row.invodDescription}} </td>
              </ng-container>
        
              <!-- Name Column -->
              <!-- <ng-container matColumnDef="Return Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><h3>Return Status </h3></th>
                <td mat-cell *matCellDef="let row"> {{row.invoCreatedDate}} </td>
              </ng-container> -->
        
              <!-- Account no Column -->
              <ng-container matColumnDef="Qty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Qty</h3> </th>
                <td mat-cell *matCellDef="let row"> {{row.invodQtyId}} </td>
              </ng-container>
        
              <!-- External ID Column -->
              <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Price</h3> </th>
                <td mat-cell *matCellDef="let row"> {{row.invodUnitPrice}} </td>
              </ng-container>
      
      
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Amount</h3> </th>
                <td mat-cell *matCellDef="let row"> {{row.invodAmount}} </td>
              </ng-container>
      
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Actions</h3> </th>
                <td mat-cell *matCellDef="let row"> <mat-icon (click)="deleteitem(row)">delete</mat-icon> </td>
              </ng-container>
        
        
              <tr mat-header-row *matHeaderRowDef="displaycolumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displaycolumns;" class="select-row">
              </tr>
            </table>
        
            <mat-paginator  [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 80, 100]"
              showFirstLastButtons></mat-paginator>
              <br>
              <br>
            <button mat-raised-button type="submit" color="primary" (click)="finalize()" >Finalise</button>
          </div>
    
    
    
          
    
    
          



          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done </ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>