<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Meter Management</h1>
    </div>
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Meter Management</li>
    </ol>
    </div>
    </div>
    </div>
</section>
<div class="action-button" fxLayoutGap="25px">
    <button mat-raised-button color="primary" routerLink="/admin/meter-management/meter-inventory">
      <mat-icon>download</mat-icon>&nbsp;&nbsp;Meter Inventory
    </button>
</div>
<section class="content alternate-theme">
    <mat-card class="client-card container-fluid">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Requisition"> 
              <app-requisition></app-requisition>
            </mat-tab>
            <mat-tab label="Issuing Approval"> 
              <app-issuing-approval></app-issuing-approval>
            </mat-tab>
            <mat-tab label="Replacement Approval"> 
              <app-replacement-approval></app-replacement-approval>
            </mat-tab>
            <mat-tab label="Store Approvals">
                <app-store-approvals></app-store-approvals>
            </mat-tab>
            <mat-tab label="Ground Installations">
                <app-ground-installation></app-ground-installation>
            </mat-tab>
            <mat-tab label="Field Approvals">
                <app-field-approvals></app-field-approvals>
            </mat-tab>
          </mat-tab-group>
        
            <router-outlet ></router-outlet>
        
          </mat-card-content>
        
    </mat-card>
</section>